.mywoki-loader {
  width: 120px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mw-path {
  width: 100%;
  height: auto;
  offset-path: path(
    "M 10 35 
     C 30 5, 60 5, 80 35
     C 100 65, 130 65, 150 35
     C 130 5, 100 5, 80 35
     C 60 65, 30 65, 10 35"
  );
  offset-distance: 0%;
  animation: mwInfinity 2.8s ease-in-out infinite;
}

@keyframes mwInfinity {
  0% {
    offset-distance: 0%;
    opacity: 0.85;
  }
  50% {
    offset-distance: 50%;
    opacity: 1;
  }
  100% {
    offset-distance: 100%;
    opacity: 0.85;
  }
}
